*,::after,::before {
    box-sizing: border-box
}

body,html {
    height: 100%
}

div{
    margin: auto;
    text-align: center;
}

/* Navigation bar */
.Navbar{
    display: flex;
    align-items: top;
    justify-content: space-between;
    padding: 15px 410px;
    color: #fff;
    transition: 0.3s;
    font-size: 13px;
    font-family: Lato, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    height: 32px;
}
/* End Navigation bar */

/* Hero */
#hero {
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
  }
  #hero .hero-container{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 15px;
}
#hero h1 {
    margin: 0 0 10px 0;
    font-size: 64px;
    font-family: "Satisfy", serif;
    /* color: #fff; */
}
#hero h3 {
    /* color: ; */
    text-align: center;
    font-family: Lato, sans-serif;
    font-weight: 200;
    margin: 1rem 0 1rem 2rem;
  }
/* End Hero */

/* About me */
.about .content h3 {
    font-weight: 700;
    font-size: 26px;
    /* color: #3b434a; */
    text-transform: uppercase;
  }
  
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .about .content ul strong {
    margin-right: 10px;
  }
  
  .about .content ul i {
    font-size: 16px;
    margin-right: 5px;
    /* color: #ffb727; */
    line-height: 0;
  }
  .about .content p:last-child {
    margin-bottom: 0;
  }