body {
    background-color: gray;
}

div{
    margin: auto;
    text-align: center;
    border: 2px solid black;
    background-color:gold;
    padding: 20px;
    width: 500px;
    margin-top: 150px;
}

.title{
    font-size: 50px;
}

.credentials{
    padding: 10px;
    font-size: 20px;
}

#username-input{
    margin-bottom: 20px;
    font-size: 19px;
}

#password-input{
    margin-bottom: 2px;
    font-size: 19px;
}

#sign-in-button{
    padding-top: 30px;
}

p{
    font-size: 13px;
}

.statement{
    border: none;
    background-color: gold;
    color: blue;
    padding-left: 0%;
    padding-bottom: 10px;
}