body {
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-position: right;
    background-attachment:scroll;
    background-size: 1500px;
}

h1{
    color:red;
}

    
#paral {
    border-style: solid;
    border-color:blue;
    color:red;
    background-color:black;
    border-radius: 20px;
    border-top-style: dotted;
}

#param2 {
    border-style: dashed;
    color:brown;
    border-width: 2px;
}